{% extends "base.html" %}

{% block app_content %}
  <h3 style="margin-bottom: 40px">{{ current_event['type'] }}: {{ current_event['date'].format('M/D') }}</h3>
  <div style="margin-bottom: 40px">
    <span id="num_users">0</span> people have checked in
  </div>
  <a class="btn btn-primary" href="/finish_event">Finish Check in</a>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  window.setInterval(() => {
    $.ajax({
      url: '/poll_checkins',
      dataType: 'json',
      success: function(resp) {
        $("#num_users").text(resp.count)
      }
    });
  }, 1000)
</script>
{% endblock %}
