{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>


<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '271206013214-44v3lu48rnp42jr97nj3v59aiv77mrjr.apps.googleusercontent.com',
        scope: 'https://www.googleapis.com/auth/drive.file'
      });
    });
  }

  function signInCallback(authResult) {
    $.ajax("/save-google-login",{
      type: "POST",
      data: JSON.stringify({ code: authResult.code }),
      contentType: 'application/json',
      success: function(data) {
        $("#google-sheet-url").html(`<a href="${data.sheet_url}">${data.sheet_url}</a>`);
        $("#created-google-sheet").removeClass("hidden");
      },
      dataType: "json",
    });

    $("#google-signin").hide()
    $("#creating-google-sheet").removeClass("hidden")
  }
</script>

<style>
  .container {
    margin: auto;
    margin-top:200px;
    max-width:500px;
  }
  .section {
    margin-bottom: 20px;
  }
</style>
{% endblock %}

{% block content %}
  <div class="container">
    <p class="section">Thanks for installing Check In! We store all attendance information in Google Sheets. So to get started, let's first authenticate with Google.</p>
    <div id="google-signin">
      <button class="btn btn-primary" id="signinButton">Sign in with Google</button>
      <script>
        $('#signinButton').click(function() {
          auth2.grantOfflineAccess().then(signInCallback);
        });
      </script>
    </div>
    <div id="creating-google-sheet" class="hidden section">
      Nice! Now we're creating a new google sheet to store attendance info. Sit tight for a few seconds.
    </div>
    <div id="created-google-sheet" class="hidden section">
      All set. Hack night attendance will now be tracked at <span id="google-sheet-url"></span>. Feel free to move the spreadsheet to another folder, the integration won't break. You can now close this window.
    </div>
  </div>
{% endblock %}
